<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>カレンダーアプリ</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<div class="calendar-container">
		<a th:href="@{/calendar(year=${month == 1 ? year - 1 : year},month=${month == 1 ? 12 : month -1})}">
			<button th:text="#{button.prev}">先月</button>
		</a> <a th:href="@{/calendar(year=${month == 12 ? year + 1 :year},month=${month == 12 ? 1 :month + 1})}">
			<button th:text="#{button.next}">来月</button>
		</a>
		<h1>
			<span th:text="${#temporals.format(yearMonth,'yyyy年M月')}">年月</span>
		</h1>
		<form th:action="@{/calendar}" method="get">

			<input type="hidden" name="year" th:value="${year}" /> <input type="hidden" name="month"
				th:value="${month}" />
			<p>言語</p>
			<select id="language-select">
				<option value="ja" th:selected="${lang == 'ja'}">日本語</option>
				<option value="en" th:selected="${lang == 'en'}">英語</option>
			</select>
			<p>天気</p>
			<select id="weather-select">
				<option value="35.6785,139.6823" th:selected="${weatherplace == '35.6785,139.6823'}"
					th:text="#{button.tokyo}">東京</option>
				<option value="40.71,-74.01" th:selected="${weatherplace == '40.71,-74.01'}"
					th:text="#{button.newyork}">
					ニューヨーク</option>
			</select>
		</form>
		<table class="calendar">
			<tr class="day">
				<th th:each="dayOfWeek : ${dayList}" th:text="${dayOfWeek}">曜日</th>
			</tr>
			<tr class="day" th:each="week :${date}">
				<td class="daydate" th:each="day : ${week}"
					th:classappend="${day.today ? 'today-color' : ''}+ ${day.lastMonth||day.nextMonth ? 'gray-color ' :''}+ ${day.holidayName != null ? 'holiday-color' : ''}">
					<div class="date-text" th:text="${day.text}">日付</div>
					<div th:if="${day.weatherIcon != null}" th:text="${day.weatherIcon}">☀</div>
					<div th:if="${day.holidayName != null}" th:text="${day.holidayName}">祝日</div>
				</td>
			</tr>
		</table>
	</div>
	<script th:src="@{/JS/calendar.js}"></script>
</body>

</html>